<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title th:text="${pageTitle} ?: 'OpenMailer - Open Source Bulk Email System'">OpenMailer</title>
    <meta name="description" th:content="${pageDescription} ?: 'OpenMailer is an open source bulk email system with templates, designed to help you manage and send email campaigns efficiently.'">
    <meta name="keywords" th:content="${pageKeywords} ?: 'bulk email, email marketing, email templates, open source, email campaigns'">
    <meta name="author" content="OpenMailer">
    <meta name="robots" content="index, follow">

    <meta property="og:type" content="website">
    <meta property="og:url" th:content="${pageUrl} ?: 'https://openmailer.com'">
    <meta property="og:title" th:content="${pageTitle} ?: 'OpenMailer - Open Source Bulk Email System'">
    <meta property="og:description" th:content="${pageDescription} ?: 'OpenMailer is an open source bulk email system with templates, designed to help you manage and send email campaigns efficiently.'">
    <meta property="og:image" th:content="${pageImage} ?: '/images/og-image.png'">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" th:content="${pageUrl} ?: 'https://openmailer.com'">
    <meta name="twitter:title" th:content="${pageTitle} ?: 'OpenMailer - Open Source Bulk Email System'">
    <meta name="twitter:description" th:content="${pageDescription} ?: 'OpenMailer is an open source bulk email system with templates, designed to help you manage and send email campaigns efficiently.'">
    <meta name="twitter:image" th:content="${pageImage} ?: '/images/og-image.png'">

    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/apple-touch-icon.png}">

    <link rel="stylesheet" th:href="@{/css/output.css}">

    <th:block layout:fragment="extra-head"></th:block>
</head>
<body class="bg-gray-50 min-h-screen flex flex-col">
    <a href="#main-content" class="sr-only focus:not-sr-only focus:absolute focus:top-0 focus:left-0 focus:z-50 focus:bg-blue-600 focus:text-white focus:px-4 focus:py-2 focus:m-2 focus:rounded">
        Skip to main content
    </a>

    <nav th:replace="~{layout/fragments :: navbar}"></nav>

    <main id="main-content" class="flex-grow" layout:fragment="content" role="main">
        <!-- Page content will be inserted here -->
    </main>

    <footer th:replace="~{layout/fragments :: footer}"></footer>

    <th:block layout:fragment="extra-scripts"></th:block>
</body>
</html>
